{% extends "base.html" %}
{% block content %}
<div class="row">
    <form action="/standup/" method="post">
        <div>
            <label for="jira_issue_dropdown">Jira Issue: </label>
            <select style="width: 50%" id="jira_issue_dropdown" name="jira_issue_key">
                <option value="">---</option>
                {% for issue in jira_issues %}
                <option value="{{issue.key}}">{{issue.key}} - {{issue.fields.summary}}</option>
                {% endfor %}
            </select>
        </div>
        {% csrf_token %}
        {{standup_task_form}}
        {{standup_task_work_form}}
        <button type="submit">Submit</button>
    </form>
</div>


{% endblock %}